# dependencies
/node_modules

# testing
/coverage

# env
.env*.local

# production
/build
/dist
/.next

# vercel
.vercel

# yarn Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
run
